<!--The content below is only a placeholder and can be replaced.-->
<test-component-direct [prop1]="test1" [prop2]="test2" *ngFor="let item of testArray()">{{item.inner}}</test-component-direct>
<!-- <test-component-timeout [prop1]="test1" [prop2]="test2" *ngFor="let item of testArray()">{{item.inner}}</test-component-timeout> -->
<!-- <test-component-promise [prop1]="test1" [prop2]="test2" *ngFor="let item of testArray()">{{item.inner}}</test-component-promise> -->
<!-- <div *ngFor="let item of testArray()">{{item.inner}}</div> -->
